.main {
    height: 100%;
    padding: 0 3vw 3vh 0;
    background-color: white;

    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.main .panel {
    display: inline-block;
    position: fixed;
    width: 36vw;
    height: 100%;
    padding: 2vh 0 0 2vw;
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: auto;
}

.main .panel .commit {
    display: flex;
    width: 35vw;
    height: 4vh;
}

.main .panel .commit input {
    width: 15vw;
    height: 100%;
    font-size: 1.5vw;
}

.main .panel .commit .calendar-button-wrapper {
    display: inline-block;
    width: flex;
    height: 5vh;
    margin: 0 0.8vw 0 0.3vw;
    vertical-align: middle;
    cursor: pointer;
}

.main .panel .commit .calendar-button-wrapper .calendar-button {
    display: inline-block;
    width: 5vh;
    height: 5vh;
    background: url("../img/calendar.png") no-repeat center;
    background-size: cover;
}

.main .panel .commit .calendar-button-wrapper .date-choosed {
    display: inline-block;
    height: 4vh;
    line-height: 4vh;
    padding: 0 0 3vh 0;
    vertical-align: middle;
}


.main .panel .commit button {
    width: 4vw;
    height: 100%;
    margin: 0.6vh 0 0 0;
    font-size: 1.5vw;
    cursor: pointer;
}

.main .panel .things {
    height: 80%;
    min-height: 80vh;
    padding: 1vh 0 2vh 0;
}

.main .panel .things div li {
    display: inline-block;
    width: 5vw;
    height: 4vh;
    padding: 0 2vw 0 2vw;
    text-align: center;
}

.main .panel .things div .head {
    padding: 1vh 2vw 1vh 2vw;
    margin: 1vh 0 0 0;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: rgba(0, 200, 256, 0.2);
}

.main .panel .things div .head:hover, .main .panel .things div .head-active {
    background-color: rgba(0, 200, 256, 0.4);
    cursor: pointer;
}

.main .panel .things div .thing {
    width: 10vw;
}

.main .panel .things div .ddl {
    width: 8vw;
}

.main .panel .things div .expire { /*过期样式*/
    color: red;
}

.main .panel .things div .state {
    width: 2vw;
}

.modified-by-input {
    position: relative;
}

.main .panel .things div .state .check {
    width: 2vw;
    height: 2vw;
    margin: 1vh;
    background: url("../img/check.png") no-repeat center;
    background-size: cover;
}

.main #calendar {
    position: fixed;
    width: flex;
    height: flex;
    top: 0;
    left: 0;
    padding: 4vh 2vw 2vw 2vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    z-index: -999;
}

.main #calendar .head {
    width: 100%;
    height: flex;
}

.main #calendar .head .pre {
    display: inline-block;
    width: 2vw;
    height: 2vw;
    background: url("../img/previous.png") no-repeat center;
    background-size: cover;
    vertical-align: middle;
    cursor: pointer;
}

.main #calendar .head .info {
    display: inline-block;
    width: 18vw;
    text-align: center;
    font-size: 1.5vw;
    vertical-align: middle;
}

.main #calendar .head .next {
    display: inline-block;
    width: 2vw;
    height: 2vw;
    background: url("../img/next.png") no-repeat center;
    background-size: cover;
    vertical-align: middle;
    cursor: pointer;
}

.main #calendar .body {
    width: 100%;
    height: flex;
    padding: 2vh 0 0 2vh;
}

.main #calendar .body .week, .main #calendar .body .day ul {
    width: 100%;
    height: 3vw;
}

.main #calendar .body ul li, .main #calendar .body .day ul li {
    display: inline-block;
    width: 3vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    border-radius: 5px;
}

.main #calendar .body .day ul .today {
    border: red solid 2px;
    border-radius: 5px;
}

.main #calendar .body .day ul .date {
    cursor: pointer;
}

.main #calendar .body .day ul .align { /*为了让日期和星期对齐*/
    margin: 0 0.35vw 0 0;
}

.main #calendar .body .day ul .date:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.main .show {
    display: inline-block;
    margin: 4vh 0 0 42vw;
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

#canvas {
    margin: 1vh 1vw 1vh 1vw;
    pointer-events: stroke;
}